.question-bg {
    background-color:#03295c ;
    color: #fff;
    width: 100% !important;
    border-radius: 4px ;
    padding: 0 10px;
    font-weight: 500;
}
.manufactureInfo, .productInfo , .sterility, .storage, .safe-use, .ivd-diagnostic, .transfusion-infusion, .others{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.manufactureInfo form {
    max-width: 600px;
    width: 95%;
    margin-top: 20px ;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(232, 232, 232);
}

form h2 {
    color: #08408B;
    text-align: center;
    padding: 10px 0;
}

.manufactureInfo form div {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.manufactureInfo form div input {
    border: 1px solid lightGray;
    border-radius: 5px;
    width: 100%;
}
form div input {
    padding:0 10px;
    outline-color: #195aaf;
}
/* product Info */

.productInfo , .sterility, .storage{
    padding-top: 50px;
}
.productInfo-form{
    margin-top: 20px ;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(232, 232, 232);
    width: 100%;
}
.productInfo-form .form-group, .sterility-form .form-group {
    margin-bottom: 15px;
}

/* sterility */

.sterility-form {
    margin-top: 20px ;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(232, 232, 232);
    max-width: 600px;
    width: 95%;
    margin-top: 20px ;
}

.sterility-form .form-group > div{
    display: flex;
}

.sterility-form .form-group > div .form-check{
    margin-right: 20px;
}

/* storage */

.storage-form {
    margin-top: 20px ;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(232, 232, 232);
    max-width: 600px;
    width: 95%;
}

.storage-form .form-group > div{
    display: flex;
}

.storage-form .form-group {
    margin-bottom: 15px;
}

.storage-form .form-group > div .form-check{
    margin-right: 20px;
}

/* safe user */

.safe-use-form{
    margin-top: 20px ;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(232, 232, 232);
    max-width: 600px;
    width: 95%;
}

.safe-use-form .form-group > div{
    display: flex;
}
.safe-use-form .form-group > div .form-check{
    margin-right: 20px;
}

.safe-use-form .form-group {
    margin-bottom: 15px;
}

/* In Vitro Diagnostic (IVD) */


.ivd-diagnostic-form{
    margin-top: 20px ;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(232, 232, 232);
    max-width: 600px;
    width: 95%;
}

.ivd-diagnostic-form .form-group > div{
    display: flex;
}
.ivd-diagnostic-form .form-group > div .form-check{
    margin-right: 20px;
}

.ivd-diagnostic-form .form-group {
    margin-bottom: 15px;
}

/* Transfusion/Infusion */

.transfusion-infusion-form{
    margin-top: 20px ;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(232, 232, 232);
    max-width: 600px;
    width: 95%;
}

.transfusion-infusion-form .form-group > div{
    display: flex;
}
.transfusion-infusion-form .form-group > div .form-check{
    margin-right: 20px;
}

.transfusion-infusion-form .form-group {
    margin-bottom: 15px;
}

/* Others */

.others-form{
    margin-top: 20px ;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(232, 232, 232);
    max-width: 600px;
    width: 95%;
}

.others-form .form-group > div{
    display: flex;
}
.others-form .form-group > div .form-check{
    margin-right: 20px;
}

.others-form .form-group {
    margin-bottom: 15px;
}

.form-group-paragraph {
    color: rgb(158, 102, 102);
    font-size: 18px;
}

/* project Information  label-information*/

.label-information{
    padding-top: 50px;
}
.label-info-link{
    background-color: #02295c;
    padding: 1px 5px 1px 0px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 80px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.label-info-link:Hover{
    color: #fff;
}

.label-info-title{
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    color: #08408B;
}

.label-info-content{
    margin:  20px 0px;
    justify-content: space-between;
}

.label-info-content-item{
    background-color: #ffffff;
    /* padding: 0 10px; */
}

.comment-content{
    background-color: #e6f0ff;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 10px;
}
.comment-header{
    padding:0 5px;
    margin-bottom: 5px;
    border-bottom:  0.5px solid lightGray;
}
.comment-user-name{
    margin: 0;
    font-weight: 600;
}
.comment-user-role{
    margin: 0;
    font-size: 12px;
}

.comment-user-description{
    font-size: 14px;
}

.label-info-description{
    background-color: #fff;
    color: rgb(80, 80, 80);
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;

}

/* --------- label design ---------- */


.label-info-content-item {
    margin-bottom: 20px;
    background-color: #ecf0f3;
}

.label-1, 
.label-2, 
.label-3,
.label-info-content-item-cmnt{
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;
}

/* label - 1 */
.label-1 {
    width:50vw ;
}

.label-1 .symbol-content .symbol-content-item .symbol-img{
    width: 30%;
    height: auto;
    max-height: 60px;
    max-width:60px ;
    margin-right: 1.5%;
    image-rendering: -webkit-optimize-contrast;
}


.label-1 .label-1-line-1 .paragraph-only {
    width: 35% !important;
    display: flex;
    grid-gap: 1%;
}
.label-1 .label-1-line-1 .img-with-paragraph .symbol-content-item{
    display: flex;
    justify-content: flex-start;
}
.label-1 .label-1-line-1 .img-with-paragraph .symbol-content-item img {
    width: 40%;
    max-width: 60px;
    height: auto;
    max-height: 60px;
}
.label-1 .label-1-line-1 .img-with-paragraph{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    grid-gap: 2%;
}
.label-1 .label-1-line-1 .img-with-paragraph p{
    /* font-size: var(--base-font-size) !important; */
    font-size: 90% !important;
    margin-left: 2% !important;

}
.label-1 .label-1-line-1 .img-and-2-paragraphs {
    width: 40% !important;
    display: flex !important;
    grid-gap: 2%;
}

/* img with 2 paragraph */
.label-1 .img-and-2-paragraphs .symbol-content-item{
    max-height: 70px !important;
    width: 100%;
    display: flex !important;
    justify-content: flex-start !important;

}

.label-1 .img-and-2-paragraphs .symbol-content-item p {
    height: 100% !important;
    width: 100% !important;
    /* font-size: var(--base-font-size)!important; */
    font-size: 80% !important;
}

/* paragraph-only */
.label-1 .paragraph-only .symbol-content-item{
    max-height: 1550px !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
.label-1 .paragraph-only .symbol-content-item p {
    height: 100% ;
    width: 100% ;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-size: 90% !important;

}


.label-1 .label-1-line-1 .paragraph-only .symbol-content-item{
    height: auto;
    max-height: 60px;
    line-height: 1.3;
    margin-bottom: 1px;
    
}

/* img-only */
.symbol-content.img-only {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2%;
}


/* other-symbols */
.label-1 .label-1-last-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label-1 .label-1-last-line .other-symbols {
    width: 30%;
    max-width: 200px;
    min-width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

.other-symbols img {
    width: 25px;
}
.label-1  .symbol-content-item.sterileSymbol{
    width: 70px;
    padding: 0 !important;
}
.label-1 .symbol-content.img-only  .symbol-content-item.sterileSymbol .sterileSymbol-img {
    min-width: 70px !important;
    width: 100% !important;
}


.label-1 .symbol-content .symbol-content-item {
    height: auto;
    /* max-height: 25%; */
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.label-1 .label-1-line-1 .symbol-content {
    width: 32%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.label-1 .label-1-line-1 {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    grid-gap: 1%;
}

.label-1 .symbol-content .symbol-content-item div p {
    font-size: 70% !important;
    margin: 0;
}
.larger-font-size {
    font-size: 1px !important;
    background-color: red;
  }
/* Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
    .your-class-name {
      /* Styles to apply when the viewport width is 600px or less */
      /* For example, you can change the width of the element */
      width: 100%;
    }
  }

/* label - 2 */

.label-2 .img-and-2-paragraphs , 
.label-2 .img-with-paragraph ,
.label-2 .img-only,
.label-2 .paragraph-only
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.label-2 .img-and-2-paragraphs {
    align-items: flex-start;
}
.label-2 .img-with-paragraph {
    align-items: flex-end;
}
.label-2 .paragraph-only{
    /* margin-bottom: 5px; */
}

.label-2 .paragraph-only .symbol-content-item {
    width: 32%;
    margin-right: 8px;
}
.label-2 .paragraph-only .symbol-content-item p{
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 3px;
}
.label-2 .paragraph-only .symbol-content-item p::before {
    content: '- ';
}
.label-2 .img-and-2-paragraphs .symbol-content-item {
    width: 23%;
}

.label-2 .img-and-2-paragraphs .symbol-content-item {
    height: auto;
    line-height: 1.3;
    margin-bottom: 1px;

    display: flex;
    align-items: center;
}

.label-2 .symbol-content .symbol-content-item .symbol-img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 7px;

    image-rendering: -webkit-optimize-contrast;

}
.label-2 p {
    font-size: 11px;
    margin: 0;
}

.label-2 .img-with-paragraph .symbol-content-item{
    margin-right: 10px;   
    margin-bottom: 10px !important;
}
.label-2 .img-with-paragraph .symbol-content-item img {
    margin-bottom: 5px;
}

.label-2 .img-only{
    align-items: center;
}
.label-2 .img-only .symbol-content-item{
    width: 10%;
}

.label-2 .symbol-content.img-only  .symbol-content-item.sterileSymbol .sterileSymbol-img {
    min-width: 70px !important;
}


/* other-symbols */
.label-2 .label-1-last-line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.label-2 .other-symbols {
    width: 30%;
    max-width: 200px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-start;
    grid-gap: 10px;
    margin-top: 10px;
}
.label-2 .other-symbols .symbol-content-item {
    margin-bottom: 5px;
} 
.label-2 .other-symbols p {
    font-size: 14px;
}
.other-symbols img {
    width: 30px;
}



/* collapse */

.collapsible-content ul p {
    background-color:#02295c !important;
    color: #fff !important;
    padding-left: 5px !important;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight:600;
    border: 2px solid #02295c;

    transition:  0.2s all ease;
}

.collapsible-content ul p:hover {
    background-color:#fff !important;
    color:  #02295c  !important;
    border: 2px solid lightGray;
}


/* ------ new design ------- */

/* Template-1 */
.template-1 , .template-2 , .template-3 {
    background-color: #fff;
    padding: 10px;
    border: 0.5px solid lightGray;
    width: 700px;
    font-size:105% !important;
    font-weight: 600;
    resize: both; /* Allow resizing in both directions */
}

/* .template-1 {
    padding: 20px !important;
} */

.template-1 .template-1-content-top {
    display: flex;
    justify-content:space-between;
    grid-gap: .5%;
}

.template-1 .template-1-content-top .template-1-content-top-left, 
.template-1 .template-1-content-top .template-1-content-top-right {
    /* border: 1px solid black; */
    padding: 5px;
    flex: 0.5;
}
.template-1 .template-1-content-top .template-1-content-top-left {
    flex: 0.65;
} 
.template-1 .template-1-content-top .template-1-content-top-right {
    flex: 0.35;
}
.template-1 .template-1-content-top-left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.template-1  .template-1-content-top-left-body {
    margin-top: 2%;
    margin-left: 0;
    padding-left: 3%;
    margin-bottom: 0;
}
.template-1  .template-1-content-top-left-body li{
    list-style:disc !important;
    font-size: 80%;
}
.template-1 .template-1-content-top-left-header h5 {
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-size: 130%;
}
.template-1 .template-1-content-top-left-header p {
    margin: 0;
    padding: 0;
    font-size: 90%;
}
.template-1  .template-1-content-top-left-header .symbol-img{
    width: 65%;
}

.template-1 .template-1-content-top-right{
}
.template-1 .template-1-content-top-right img {
    width: 60%;
}
.template-1 .template-1-content-top-right-top{
    display: flex;
    justify-content: space-between;
}

.template-1 .template-1-content-top-right > p {
    font-size: 70%;
    font-weight: 700;
    padding: 0;
    margin-bottom: 0%;
}

.template-1-content-mid-fist-item-top{
    text-align: center;
    /* border-bottom:1px solid black ; */
    font-size: 80%;
    padding-bottom: 3px;
    margin-top: 2px;
}
.template-1-content-mid-fist-item-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: -1%;
    margin-bottom: 2%;
}
.template-1-content-mid-fist-item-bottom > p {
    margin: 0;
    padding: 0;
    font-size: 80%;
}

.template-1-content-mid-second-item{
    /* border: 1px solid black; */
    min-height: 10px;
}

.template-1 .project-owner-info{
    width: 100%;
    display: flex;
    grid-gap: .5%;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding-left: 1%;
    padding-top: 1%;
}

.template-1 .project-owner-info .symbol-content-item {
    width: 24.5%;
    display: flex;
    align-items: center;
    grid-gap: 1%;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.template-1 .project-owner-info .symbol-content-item  p {
    font-size: 50%;
    padding: 0;
    margin: 0;
}
.template-1 .project-owner-info .symbol-content-item img {
    width: 29%;
    max-height: 60px;
    min-width: 35px;
    height: 65%;
    margin-right: 1%;
    
}




/* rest of the symbols */
.template-1 .symbols-with-text-behind{
    /* border: 1px solid black; */
    padding: 2% 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    grid-gap: 3%;
    margin-top: 1%;
}

.template-1 .symbols-with-text-behind .symbol-content-item {
    width: 8%;
    text-align: center;
    margin-bottom: 2%;
}

.template-1 .symbols-with-text-behind .symbol-content-item p{
    font-size: 70%;
}

.template-1 .symbols-with-text-behind .symbol-content-item  img {
    width: 90%;
    min-width: 30px;
    min-height: 30px;
    
}

.template-1 .symbols-with-text-behind .symbol-content-item-range {
    position: relative;
}

.template-1 .symbols-with-text-behind .symbol-content-item-range p {
    position: absolute;
    font-size: 55%;
}
.template-1 .symbols-with-text-behind .symbol-content-item-range .min{
    bottom: -35%;
    left: -24%;
}

.template-1 .symbols-with-text-behind .symbol-content-item-range .max {
    top: -23%;
    right: -25%;
}

.template-1 .symbols-with-text-behind .symbol-content-item-range .min-temperature{
    bottom: -30%;
    /* left: 0%; */
}

.template-1 .symbols-with-text-behind .symbol-content-item-range .max-temperature{
    top: -3%;
    right: -5%;
}
.template-1 .sterileSymbol-img {
    width: 120% !important;
}

.template-1 .sm-img {
    width: 30% !important;
}

.template-1 .Authorized_Representative{
    width: 55% !important;
    min-height: 150% !important;
}

.template-1 .symbols-with-text-behind .symbol-content-item-with-text{
    width: 35%;
    display: flex;
    text-align: left;
    grid-gap: 2%;
    align-items: center;
}

.template-1 .symbols-with-text-behind .symbol-content-item-with-text p {
    padding: 0;
    margin: 0;
    font-size: 70%;
}

.template-1 .symbols-with-text-behind .symbol-content-item-with-text img {
    width: 25%;
    height: auto;
}

.symbol-content-item.symbol-content-item-with-text p {
    font-size: 64% !important;

}

/* template-2 */

.template-2 p, .template-2  div , .template-2 span {
    margin: 0;
    padding: 0;
}
.template-2 
    .template-2-content-top 
        .template-1-content-top-header{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            text-align: center;
}

.template-2 
    .template-2-content-top  .label-header-info{
    height: 100%;
    top: 0px;
    margin-left: -30px;
}
.template-2 
    .template-2-content-top 
        .template-1-content-top-header{
            font-size: 80%;
}
.template-2 .template-1-content-top-header h3{
            font-weight: 800;
}
.template-2 .template-1-content-top-header p{
    font-weight: 700;

}

.template-2 .template-1-content-top-header  .label-MD-QTY-info{
    width: 15%;
    height: 10%;
    text-align: right;
}

.template-2 .template-1-content-top-header  .label-MD-QTY-info .symbol-img {
    width: 35%;
}

.template-2 .template-1-content-top-header .ce-mark-and-website-content{
    width: 18%;
    text-align: left;
}

.template-2 
    .template-2-content-top .template-2-content-top-rest-content 
    .packaging-content {
        font-weight: 500;
        text-align: center;
        margin-top: 5px;
        font-size: 90%;
        border-bottom: 1px solid rgb(220, 220, 220);
        border-top: 1px solid rgb(220, 220, 220);
}
.template-2 
    .template-2-content-top .template-2-content-top-rest-content 
    .intended-for-intro-and-cmr-substance {
        margin-top: 5px;
        font-weight: 400;
        font-size: 80%;
        padding-left:17px ;
        /* list-style: circle; */
        border-bottom: 1px solid rgb(220, 220, 220);
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
.template-2 
.template-2-content-top .template-2-content-top-rest-content 
    .intended-for-intro-and-cmr-substance li{
        /* padding: 0; */
        list-style:disc !important;
    }
.template-2 
.template-2-content-top .template-2-content-top-rest-content 
    .template-2-content-top-rest-content-bottom{
        display: flex;
        justify-content: space-between;
        font-size: 80%;
    }

.template-2 .template-2-content-mid {
    display: flex;
    grid-gap: 0.5%;
    justify-content: space-between;
}

.template-2 .template-2-content-mid  .project-owner-info-content,
.template-2 .template-2-content-mid  .symbols-with-text-behind-content
 {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    /* border: 0.00001px solid rgb(220, 220, 220); */
}
.template-2 .template-2-content-mid  .project-owner-info-content

 {
    width: 40%;
    border-right: 1px solid lightgray;

}

.template-2 .template-2-content-mid  .symbols-with-text-behind-content
 {
    width: 60%;
    padding-bottom: 10px;

}
.template-2 .template-2-content-mid  .symbols-with-text-behind{

}
.template-2 .project-owner-info{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-gap: 1%;
}

.template-2 .project-owner-info .symbol-content-item {
    width: 49%;
    display: flex;
    align-items: center;
    grid-gap: 1%;
    justify-content: flex-start;
    margin-bottom: 2%;
    /* background-color: red; */
}

.template-2 .project-owner-info .symbol-content-item  p {
    font-size: 47%;
    padding: 0;
    margin: 0;
}
.template-2 .project-owner-info .symbol-content-item img {
    width: 34%;
    max-height: 50px;
    min-width: 35px;
    height: 60%;
    margin-right: 1%;
    
}

.template-2 .sterileSymbol-img {
    width: 120% !important;
}

.template-2 .sm-img {
    width: 30% !important;
}
.template-2 .Authorized_Representative{
    width: 30% !important;
    min-height: 90% !important;
}


/* rest of the symbols */

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind{
    /* border: 1px solid black; */
    padding: 2% 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 3%;
    justify-content: space-around;
    margin-top: 1%;
    padding-right: 10px;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item {
    width: 11%;
    text-align: center;
    margin-bottom: 5%;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item p{
    font-size: 50%;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item  img {
    width: 100%;
    min-width: 30px;
    min-height: 30px;
    /* width: 40px;
    height: 40px; */
    
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-range {
    position: relative;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-range p {
    position: absolute;
    font-size: 50%;
}
.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-range .min{
    bottom: -27%;
    left: -20%;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-range .max {
    top: -26%;
    right: -20%;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-range .min-temperature{
    bottom: -0%;
    left: -10%;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-range .max-temperature{
    top: -3%;
    right: -5%;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-with-text{
    width: 48%;
    display: flex;
    text-align: left;
    grid-gap: 2%;
    align-items: center;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-with-text p {
    padding: 0;
    margin: 0;
    font-size: 55% !important;
}

.template-2 .symbols-with-text-behind-content .symbols-with-text-behind .symbol-content-item-with-text img {
    width: 40% !important;
    height: auto;
}

.template-2 .template-2-content-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ------- template-3 ------- */
/* .template-3  *{
    margin: 0;
    padding: 0;
} */
.template-3 .header {
    text-align: center;
    margin-bottom: 1%;
    position: relative;
}
.template-3 .header .medical-device-symbol-header{
    position: absolute;
}
.template-3 .header img{
    width: 100%;
}

.template-3 .header h3{
    font-size: 190%;
    font-weight: 800;
}
.template-3 .header p{
    font-size: 90%;
    font-weight: 600;
}

.template-3 .template-3-top-content{
    display: flex;
    grid-gap: 0.5%;
}
.template-3 .template-3-top-content > div{
    border: 1px solid lightGray;
    padding-left: 0.5%;
}

.template-3 .template-3-top-content .template-3-code-bar{
    width: 65%;
}

.template-3 .template-3-top-content .template-3-code-bar > div{
    width: 100%;
}
.template-3 .template-3-top-content .template-3-code-bar .barcode-projectOwner {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.template-3 .template-3-top-content .template-3-code-bar .barcode-projectOwner .symbol-content-item{
    width: 48%;
    display: flex;
    align-items: center;
}

.template-3 .template-3-top-content .template-3-code-bar .barcode-projectOwner .symbol-content-item img{
    width: 20%;
    height: 90%;
    margin-left: 1%;
    margin-right: 1%;
}
.template-3 .template-3-top-content .template-3-code-bar .barcode-projectOwner .symbol-content-item p{
    font-size: 50%;
}
.template-3 .template-3-top-content .template-3-manufacturer-logo{
    width: 35%;
}

.template-3 .symbol-content-item div p{
    padding: 0;
    margin: 0;
}

.template-3 .template-3-content-mid-fist-item {
    display: flex;
    justify-content: space-between;
    font-size: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid lightGray;
}

.template-3 .template-3-content-mid-second-item {
    border-bottom: 1px solid lightGray;
    display: flex;
    flex-wrap: wrap;

}
.template-3 .template-3-content-mid-second-item .symbol-content-item{
    width: 25%;
    display: flex;
    align-items: center;
    
}

.template-3 .template-3-content-mid-second-item .symbol-content-item img{
    width: 45px;
    height: 40px;
    margin-right: 1%;
}

.template-3 .template-3-content-mid-second-item .symbol-content-item p{
    font-size: 50%;
    font-weight: 400;
}
    
.template-3 .symbols-with-text-behind .symbol-content-item-range {
    position: relative;
}

.template-3 .symbols-with-text-behind .symbol-content-item-range p {
    position: absolute;
    font-size: 50% !important;
}
.template-3 .symbols-with-text-behind .symbol-content-item-range .min{
    bottom: -40%;
    left: -24%;
}

.template-3 .symbols-with-text-behind .symbol-content-item-range .max {
    top: -28%;
    right: -25%;
}

.template-3 .symbols-with-text-behind .symbol-content-item-range .min-temperature{
    bottom: -28%;
    /* left: 0%; */
}

.template-3 .symbols-with-text-behind .symbol-content-item-range .max-temperature{
    top: -3%;
    right: -5%;
}
.template-3 .sterileSymbol-img {
    width: 120% !important;
}



.template-3 .sm-img {
    width: 30% !important;
}

/* .template-3 .Authorized_Representative{
    width: 27% !important;
    min-height: 150% !important;
} */

.template-3 .template-3-content-mid-fist-item-top {
    text-align: center;
    font-size: 70%;
    margin-bottom: 1%; 
    margin-top: 1%; 
}

/* rest of the symbols */
.template-3 .rest-of-the-symbols .symbols-with-text-behind{
    border-top: 1px solid lightGray;
    padding: 2%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    grid-gap: 3%;
    margin-top: 1%;
}

.template-3 .symbols-with-text-behind .symbol-content-item {
    width: 8%;
    text-align: center;
    margin-bottom: 2%;
}

.template-3 .symbols-with-text-behind .symbol-content-item p{
    font-size: 70%;

}

.template-3 .symbols-with-text-behind .symbol-content-item  img {
    width: 80%;
    min-width: 30px;
    min-height: 30px;
    
}

.template-3 .symbols-with-text-behind .symbol-content-item-with-text{
    width: 35%;
    display: flex;
    text-align: left;
    grid-gap: 2%;
    align-items: center;
}

.template-3 .symbols-with-text-behind .symbol-content-item-with-text p {
    padding: 0;
    margin: 0;
    font-size: 70%;
}

.template-3 .symbols-with-text-behind .symbol-content-item-with-text img {
    width: 25%;
    height: auto;
}

.template-3 .symbol-content-item.symbol-content-item-with-text p {
    font-size: 64% !important;

}
/* ----------- last modification for images --------- */

.template-1 .project-owner-info img{
    width: 45px !important;
    height: 40px !important;
}

.template-2 .project-owner-info img{
    width: 40px !important;
    height: 36px !important;
}

.template-3 .template-3-content-mid-fist-item.symbols-with-text-behind .symbol-img {
    width: 45px !important;
    height: 40px !important;
}


/* representative symbol */
.template-1 .project-owner-info .Authorized_Representative{
    width: 60px !important;
    height: 50px !important;
}
.template-2 .project-owner-info .Authorized_Representative{
    width: 60px !important;
    height: 50px !important;
}
.template-3 .symbol-content-item .Authorized_Representative{
    width: 45px !important;
    height: 65px !important;
}

.template-1 .symbol-content-item .symbol-img.manufacture-img, .template-2 .symbol-content-item .symbol-img.manufacture-img{
    width:30px !important;
    height: 35px !important;
}

.template-3 .symbol-content-item .symbol-img.manufacture-img{
    width:33px !important;
    height: 32px !important;
}





/* manufacture-img */