
.navbar{
    position: fixed;
    width: 100%;
    background-color: #ecf0f3 !important;
    z-index: 999;
    border-bottom: .5px solid lightgray;
}
.navbar a {
    font-size: 20px !important;
    font-weight: 700;
    color: rgb(29, 29, 29) !important;
}

.container-dashboard{
  width: 90%;
  margin: auto;
}

/* typography*/
/* typography reset*/


.h1 {
  font-weight: 700;
  margin-bottom: 100px;
  letter-spacing: 2;
}

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #021D41;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;

  /* background-image: url(../../assets/sideBrdBG.svg); */
  /* box-shadow: 1px 1px 10px rgb(0, 0, 0); */
}
.bg-sidebar-img{
  position: absolute;
  bottom: 0;
  left: -120px;
  height: 60%;
  opacity: 0.8;
}
#wrapper .sidebar-nav .navList {
   display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
  padding: 0 20px;
}

.dash-header-sm-devices a{
  background-color:#033371;
  color: #fff;
  padding: 1px 7px;
  border-radius: 5px;
}

#wrapper .sidebar-nav .navList a{
  color: #ffffffb2;
  padding: 10px 0px;
  border-radius: 10px;
  /* height: 70% ; */
  width: 100%;
  margin:2px 0;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
#wrapper .sidebar-nav .navList .MuiSvgIcon-root {
  margin-right: 10px;
  font-size: 29px;
}
#wrapper .sidebar-nav .navList a:hover{
  background-color: #1a447b;
  color: #eaeaea;
}

.sideBrd-user-info{
  color: #fff;
  padding-bottom: 20px;
  margin: 0 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  text-align: center;
}
.sideBrd-user-info p{
  font-size: 12px;
  color: rgb(210, 210, 210);
}
.sideBrd-user-info h4{
  font-size: 24px;
  color: rgb(233, 233, 233);
}


/* togglee */

.dropdown .dropdown-toggle {
  background-color: #08408B !important;
  transition: .3s all ease;
  margin-right: 10px;
  padding: 2px 5px;
  outline: none !important;
  border-radius:8px ;
  display: flex;
  align-items: center;
  font-weight: 600;
  border: 0;
  display: none;
}

.dropdown .dropdown-menu {
  display: none;
}

.dropdown .dropdown-toggle:hover {
  background-color: #03195c !important;
  color: #eaeaea !important;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}


/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*new code*/
.sidebar-nav a {
  display: block;
  text-decoration: none;
  padding-left: 32px;
  color: #818181;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 20px auto;
  font-size: 18px;
}

.sidebar-nav a:first-child {
  margin: 40px auto;
}

.sidebar-nav a:hover {
  color: #f1f1f1;
}


/* mobile */
#page-content-wrapper #menu-toggle {
  cursor: pointer;
  font-size: 30px;
}

.dash-Logo {
    height: 40px;
    width: 100px;
    display: none;
    border-radius: 2px;
    border: 0;
}




/* Add this CSS to your stylesheets or style section in your component */
.custom-dropdown-container {
  display: none;
  align-items: center;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown-toggle {
  background-color: #08408B;
  color: white;
  border: none;
  padding: 2px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-dropdown-menu {
  position: absolute;
  top:120%;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none; /* Allows clicks to "pass through" the invisible element */
  border-radius: 5px;
}

.custom-dropdown.open .custom-dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Enables interaction with the visible element */
}

.custom-dropdown-menu a {
  padding: 5px 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.custom-dropdown-menu a:hover {
  background-color: #f9f9f9;
}

.avatar {
  margin-left: 10px;
}


@media screen and (max-width: 778px) {
  #wrapper{
    display: none !important;
  }
  .dropdown .dropdown-toggle {
    display: block;
  }

  .custom-dropdown-container {
    display: flex;
  }

  #page-content-wrapper #menu-toggle {
    cursor: pointer;
    font-size: 30px;
    display: none !important;
  }
  .dash-Logo {
    display: block;
  }
}

@media screen and (max-width: 1140px) {
  .container-dashboard{
    width: 90%;
  }
}
@media screen and (max-width: 720px) {
  .container-dashboard{
    width: 95%;
  }
}